@page "/conversor"

<style>
    .flex-container {
        display: flex;
    }

    .item {
        padding: 20px;
    }
</style>

<h1 style="color: rgb(38, 38, 148);">Conversor Térmico</h1>
<hr>
<h4>Esse é um Algoritimo que faz a coversão de diferentes unidades de medições de
    temperaturas:</h4>
<br>



<div class="flex-container">

    <h5 class="item"><i>Temperatura:</i></h5>

    <div class="item">
        <input type="text" @bind="temp" class="form-control">
    </div>

</div>

<div class="flex-container">
    <h5 class="item">Unidades de conversção: <span style="color: rgb(120, 120, 125);" class="item"><i>Celsius,
                Fahrenheit
                ou Kelvin</i></span>
    </h5>
</div>

<div class="item">
    <div>
        <p><i>De:</i></p>
        <select name="" id="" @bind="de" class="form-select">

            <option value="1">Celsius</option>
            <option value="2">Fahrenheit</option>
            <option value="3">Kelvin</option>

        </select>
    </div>
    <br>
    <div>
        <p><i>Para:</i></p>
        <select name="" id="" @bind="para" class="form-select">

            <option value="1">Celsius</option>
            <option value="2">Fahrenheit</option>
            <option value="3">Kelvin</option>

        </select>
    </div>
</div>

<div class="item">
    <button class="btn btn-dark" @onclick="calculo">Calcular</button>
</div>

<div class="item">
    <output><b>@mensagem</b></output>
</div>

@code {

    public Double temp = 0;

    public int de = 0;

    public int para = 0;

    public Double resultado = 0;

    public Double celsiusParaFah = 0;
    public Double celsiusParaKelvin = 0;

    public Double fahParaCels = 0;
    public Double fahParaKel = 0;

    public Double kelParaCel = 0;
    public Double kelParaFah = 0;

    public string mensagem = "";

    public void calculo()
    {

        if (de == 1)
        {
            if (para == 2)
            {
                celsiusParaFah = (temp * 9 / 5) + 32;
                resultado = celsiusParaFah;
                mensagem = $"{resultado} grau(s) Fahrenheit.";
            }
            else if (para == 3)
            {
                celsiusParaKelvin = temp + 273.15;
                resultado = celsiusParaKelvin;
                mensagem = $"{resultado} Kelvin(s).";
            }
            else if (para == 1)
            {
                mensagem = "Não é possivel transformar Celsius para Celsius.";
            }
        }

        if (de == 2)
        {
            if (para == 1)
            {
                fahParaCels = (temp - 32) * 5 / 9;
                resultado = fahParaCels;
                mensagem = $"{resultado} graus(s) Celsius.";
            }
            else if (para == 3)
            {
                fahParaKel = (temp - 32) * 5 / 9 + 273.15;
                resultado = fahParaKel;
                mensagem = $"{resultado} Kelvin(s).";
            }
            else if (para == 2)
            {
                mensagem = "Não é possivel transformar Fahrenheit para Fahrenheit.";
            }
        }

        if (de == 3)
        {
            if (para == 1)
            {

                kelParaCel = temp - 273.15;
                resultado = kelParaCel;
                mensagem = $"{resultado} grau(s) Celsius.";
            }
            else if (para == 2)
            {
                kelParaFah = (temp - 273.15) * 9 / 5 + 32;
                resultado = kelParaFah;
                mensagem = $"{resultado} grau(s) Fahrenheit.";
            }
            else if (para == 3)
            {
                mensagem = "Não é possivel transformar Kelvin para Kelvin.";
            }
        }
    }
}
