@page "/conversor"

<style>
    .flex-container {
        display: flex;
    }

    .item {
        padding: 20px;
    }
</style>

<h2 style="color: rgb(38, 38, 148);"><i>Esse é um Algoritimo que faz a coversão de diferentes unidades de medições de
        temperaturas:</i></h2>


<div class="flex-container">

    <h5 class="item">Temperatura: </h5>

    <div class="item">
        <input type="text" @bind="temp">
    </div>

</div>

<div class="flex-container">
    <h5 class="item">Unidades de conversção: <span style="color: rgb(120, 120, 125);" class="item">Celsius,
            Fahrenheit
            ou Kelvin</span>
    </h5>
</div>

<div class="item">
    <div>
        <p>De:</p>
        <select name="" id="" @bind="de" class="">

            <option value="1">Celsius</option>
            <option value="2">Fahrenheit</option>
            <option value="3">Kelvin</option>

        </select>
    </div>
    <br>
    <div>
        <p>Para:</p>
        <select name="" id="" @bind="para">

            <option value="1">Celsius</option>
            <option value="2">Fahrenheit</option>
            <option value="3">Kelvin</option>

        </select>
    </div>
</div>

<div class="item">
    <button class="btn btn-dark" @onclick="calculo">Calcular</button>
</div>

<div class="item">
    <output><b>@mensagem</b></output>
</div>

@code {

    public Double temp = 0;

    public int de = 0;

    public int para = 0;

    public Double resultado = 0;

    public Double celsiusParaFah = 0;
    public Double celsiusParaKelvin = 0;

    public Double fahParaCels = 0;
    public Double fahParaKel = 0;

    public Double kelParaCel = 0;
    public Double kelParaFah = 0;

    public string mensagem = "";

    public void calculo()
    {

        if (de == 1)
        {
            if (para == 2)
            {
                celsiusParaFah = (temp * 9 / 5) + 32;
                resultado = celsiusParaFah;
            }
            else if (para == 3)
            {
                celsiusParaKelvin = temp + 273.15;
                resultado = celsiusParaKelvin;
            }
        }

        if (de == 2)
        {
            if (para == 1)
            {
                fahParaCels = (temp - 32) * 5 / 9;
                resultado = fahParaCels;
            }
            else if (para == 3)
            {
                fahParaKel = (temp - 32) * 5 / 9 + 273.15;
                resultado = fahParaKel;
            }
        }

        if (de == 3)
        {
            if (para == 1)
            {

                kelParaCel = temp - 273.15;
                resultado = kelParaCel;
            }
            else if (para == 2)
            {
                kelParaFah = (temp - 273.15) * 9 / 5 + 32;
                resultado = kelParaFah;
            }
        }

        mensagem = $"A temperatura é {resultado}";
    }
}
