@page "/conversor"

<PageTitle>Conversor</PageTitle>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor Térmico</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            color: #333;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            color: rgb(62, 62, 62);
            text-align: center;
        }

        hr {
            margin: 20px 0;
        }

        h4 {
            text-align: center;
            margin-bottom: 20px;
        }

        .flex-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-bottom: 20px;
        }

        .item {
            padding: 10px;
            flex: 1 1 100%;
            max-width: 100%;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            font-size: 16px;

        }

        .form-select {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            font-size: 16px;
        }

        .btn {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            font-size: 16px;
            background-color: rgb(134, 21, 21);
            color: white;
        }

        .btn:hover {
            background-color: #310101;
            color: gray;
        }

        .result {
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            margin-top: 20px;
        }
    </style>
</head>

<div class="container">
    <h1>Conversor Térmico</h1>
    <hr>
    <h4>Esse é um algoritmo que faz a conversão de diferentes unidades de medições de temperaturas:</h4>

    <div class="flex-container">
        <h5 class="item"><i>Temperatura:</i></h5>
        <div class="item">
            <input type="text" @bind="temp" class="form-control" placeholder="Digite a temperatura">
        </div>
    </div>

    <div class="flex-container">
        <h5 class="item">Unidades de conversão: <span style="color: rgb(120, 120, 125);"><i>Celsius, Fahrenheit ou
                    Kelvin</i></span></h5>
    </div>

    <div class="flex-container">
        <div class="item">
            <p><i>De:</i></p>
            <select @bind="de" class="form-select">
                <option value="1">Celsius</option>
                <option value="2">Fahrenheit</option>
                <option value="3">Kelvin</option>
            </select>
        </div>

        <div class="item">
            <p><i>Para:</i></p>
            <select @bind="para" class="form-select">
                <option value="1">Celsius</option>
                <option value="2">Fahrenheit</option>
                <option value="3">Kelvin</option>
            </select>
        </div>
    </div>

    <div class="flex-container">
        <div class="item">
            <button class="btn" @onclick="calculo">Calcular</button>
        </div>
    </div>

    <div class="result">
        <output><b>@mensagem</b></output>
    </div>
</div>

@code {

    public Double temp = 0;

    public int de = 0;

    public int para = 0;

    public Double resultado = 0;

    public Double celsiusParaFah = 0;
    public Double celsiusParaKelvin = 0;

    public Double fahParaCels = 0;
    public Double fahParaKel = 0;

    public Double kelParaCel = 0;
    public Double kelParaFah = 0;

    public string mensagem = "";

    public void calculo()
    {

        if (de == 1)
        {
            if (temp >= -273.15)
            {
                if (para == 2)
                {
                    celsiusParaFah = (temp * 9 / 5) + 32;
                    resultado = celsiusParaFah;
                    mensagem = $"{resultado:N} grau(s) Fahrenheit.";
                }
                else if (para == 3)
                {
                    celsiusParaKelvin = temp + 273.15;
                    resultado = celsiusParaKelvin;
                    mensagem = $"{resultado:N} Kelvin(s).";
                }
                else if (para == 1)
                {
                    mensagem = "Não é possivel transformar Celsius para Celsius.";
                }
            }
            else
            {
                mensagem = "Temperatura inválida, abaixo do 0 absoluto.";
            }

        }

        if (de == 2)
        {
            if (temp >= -459.66999999999996)
            {
                if (para == 1)
                {
                    fahParaCels = (temp - 32) * 5 / 9;
                    resultado = fahParaCels;
                    mensagem = $"{resultado:N} graus(s) Celsius.";
                }
                else if (para == 3)
                {
                    fahParaKel = (temp - 32) * 5 / 9 + 273.15;
                    resultado = fahParaKel;
                    mensagem = $"{resultado:N} Kelvin(s).";
                }
                else if (para == 2)
                {
                    mensagem = "Não é possivel transformar Fahrenheit para Fahrenheit.";
                }
            }
            else
            {
                mensagem = "Temperatura inválida, abaixo do 0 absoluto.";
            }

        }

        if (de == 3)
        {
            if (temp >= 0)
            {
                if (para == 1)
                {

                    kelParaCel = temp - 273.15;
                    resultado = kelParaCel;
                    mensagem = $"{resultado:N} grau(s) Celsius.";
                }
                else if (para == 2)
                {
                    kelParaFah = (temp - 273.15) * 9 / 5 + 32;
                    resultado = kelParaFah;
                    mensagem = $"{resultado:N} grau(s) Fahrenheit.";
                }
                else if (para == 3)
                {
                    mensagem = "Não é possivel transformar Kelvin para Kelvin.";
                }
            }
            else
            {
                mensagem = "Temperatura inválida, abaixo do 0 absoluto.";
            }

        }
    }
}
