@page "/conversor"

<style>
    .flex-container {
        display: flex;
    }

    .item {
        padding: 20px;
    }
</style>

<h2 style="color: rgb(38, 38, 148);"><i>Esse é um Algoritimo que faz a coversão de diferentes unidades de medições de
        temperaturas:</i></h2>


<div class="flex-container">

    <h5 class="item">Temperatura: </h5>

    <div class="item">
        <input type="text" @bind="temp">
    </div>

</div>

<div class="flex-container">
    <h5 class="item">Unidades de conversção: <span style="color: rgb(120, 120, 125);" class="item">Celsius, Fahrenheit
            ou Kelvin</span>
    </h5>
</div>

<div class="flex-container">


    <div class="item">
        <p>De:</p>
        <input type="text" @bind="de">
    </div>

    <div class="item">
        <p>Para:</p>
        <input type="text" @bind="para">
    </div>

</div>

<div class="item">
    <button class="btn btn-dark">Calcular</button>
</div>

<div class="item">
    Saída aqui
</div>

@code {

    public int temp = 0;

    public string de = "";

    public string para = "";

    public void calculo()
    {

    }

}
