@page "/counter"

<PageTitle>Counter</PageTitle>

<h1 style="color: rgb(38, 38, 148);"><i>Contador:</i></h1>

<p role="status">Contagem atual: @currentCount</p>

<button class="btn btn-dark" @onclick="IncrementCount">+</button>
<button class="btn btn-dark" @onclick="DecrementCount">-</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecrementCount()
    {
        currentCount--;
    }
}
