@page "/"

<PageTitle>Home</PageTitle>

<h1 style="color: rgb(38, 38, 148);">Home</h1>
<hr>
<h4>
    <i>
        A intenção é utilizar o Blazor para desenvolver algoritmos com uma interface
        integrada, permitindo
        testar casos de uso de forma interativa e visual.
    </i>
</h4>
