@page "/idade"

<PageTitle>Idade</PageTitle>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Idade</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            color: #333;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            color: rgb(62, 62, 62);
            text-align: center;
        }

        hr {
            margin: 20px 0;
        }

        h4 {
            text-align: center;
            margin-bottom: 20px;
        }

        p {
            text-align: center;
            font-size: 18px;
        }

        input[type="date"],
        .btn {
            padding: 10px;
            font-size: 16px;
            width: 50%;
            margin: 10px 0;
        }

        .btn {
            background-color: rgb(134, 21, 21);
            color: #fff;
            border: none;
            cursor: pointer;
        }

        .btn:hover {
            background-color: #310101;
            color: gray;
        }

        .result {
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            margin-top: 20px;
        }
    </style>
</head>

<div class="container">
    <h1>Idade</h1>
    <hr>
    <h4>Algoritmo que calcula a idade pela data de nascimento:</h4>
    <br>
    <p>Data de nascimento: <input type="date" @bind="data_nascimento"></p>
    <br>
    <p><button class="btn" @onclick="idade_">Calcular idade</button></p>
    <div class="result">
        <p><b>@mensagem</b></p>
    </div>
</div>

@code {

    DateTime hoje = DateTime.Now;
    DateTime data_nascimento = DateTime.Now;
    int idade = 0;
    string mensagem = "";

    public void idade_()
    {
        idade = hoje.Year - data_nascimento.Year;

        if (hoje.Month < data_nascimento.Month || (hoje.Month == data_nascimento.Month && hoje.Day < data_nascimento.Day))
        {
            idade--;
        }

        mensagem = $"Sua idade é {idade}.";
    }
}
