@page "/idade"

<h1 style="color: rgb(38, 38, 148);"><i>Algoritimo que calcula a idade pela data de nascimento:</i></h1>
<br>
<p>Data de nascimento: <input type="date" @bind="data_nascimento"></p>
@*<p>Mês de nascimento: <input type="date" @bind="mes_nas"></p>
<p>Dia de nascimento: <input type="date" @bind="dia_nas"></p>@**@
<br>
<p><button class="btn btn-dark" @onclick="idade_">Cacular idade</button></p>

<p><b>@idade</b></p>

@code {

    DateTime hoje = DateTime.Now;

    DateTime data_nascimento = DateTime.Now;
    int idade = 0;

    // Variaveis para a conta

    // Ate aqui

    public void idade_()
    {
        idade = hoje.Year - data_nascimento.Year;

        if (hoje.Month < data_nascimento.Month || (hoje.Month == data_nascimento.Month && hoje.Day < data_nascimento.Day))
        {
            idade--;
        }

    }
}
