@page "/idade"

<h1 style="color: rgb(38, 38, 148);">Idade</h1>
<hr>
<h4>Algoritimo que calcula a idade pela data de nascimento:</h4>
<br>
<p>Data de nascimento: <input type="date" @bind="data_nascimento"></p>
<br>
<p><button class="btn btn-dark" @onclick="idade_">Cacular idade</button></p>

<p><b>@mensagem</b></p>

@code {

    DateTime hoje = DateTime.Now;

    DateTime data_nascimento = DateTime.Now;
    int idade = 0;

    string mensagem = "";

    // Variaveis para a conta

    // Ate aqui

    public void idade_()
    {
        idade = hoje.Year - data_nascimento.Year;

        if (hoje.Month < data_nascimento.Month || (hoje.Month == data_nascimento.Month && hoje.Day < data_nascimento.Day))
        {
            idade--;
        }

        mensagem = $"Sua idade é {idade}.";
    }
}
