@page "/sorte"

<style>
    .flex {
        display: flex;
    }

    .p {
        padding: 20px;
    }

    .w {
        width: 33%;
    }

    .center {
        justify-content: space-around;
    }

    .text {
        text-align: center;
    }
</style>

<h1 style="color: rgb(38, 38, 148);">Jogos de sorte</h1>
<hr>
<h3>Esses algoritimos são jogos de problabilidade.</h3>
<br>
<div class="p">
    <h4>Tem 3 jogos:</h4>
    <p>Dado de 6 lados, na qual é gerado um número aleatório de 1 a 6;</p>
    <p>Dado de 10 lados, na qual é gerado um número aleatório de 1 a 10;</p>
    <p>Jogo de Cara ou Coroa, onde a 50% de chance de cair Cara ou Coroa.</p>
</div>
<br>

<div class="flex p center">

    <div class="text">
        <select @bind="opcao" class="form-control">
            <option value="1">Dado de 6 lados</option>
            <option value="2">Dado de 10 lados</option>
            <option value="3">Cara ou Coroa</option>
        </select>
        <br>
        <p><button class="btn btn-dark" @onclick="jogo">Jogar</button></p>
    </div>

    <div class="text">
        <h4>Resultado:</h4>
        <br>
        <p class="border rounded">@saida</p>
    </div>

</div>

@code {

    public string saida = "";

    public int saida2;
    Random random = new Random();
    public string opcao = "";
    public void jogo()
    {
        if (opcao == "1")
        {
            int dado6 = random.Next(1, 7);

            saida = dado6.ToString();

        }
        else if (opcao == "2")
        {
            int dado10 = random.Next(1, 11);

            saida = dado10.ToString();
        }
        else if (opcao == "3")
        {
            int tailHeads = random.Next(2);

            if (tailHeads == 0)
            {
                saida = "Coroa";
            }
            else
            {
                saida = "Cara";
            }
        }

    }


}